In [62]:
import sqlalchemy
import pandas as pd
import yfinance as yf
print('done')

done

In [63]:
wiki = 'https://en.wikipedia.org/wiki/BSE_SENSEX'

In [64]:
tickerSensex = pd.read_html(wiki)[1].Symbol.to_list()

In [65]:
tickerSensex

['ASIANPAINT.BO',
 'AXISBANK.BO',
 'BAJAJ-AUTO.BO',
 'BAJFINANCE.BO',
 'BAJAJFINSV.BO',
 'BHARTIARTL.BO',
 'DRREDDY.BO',
 'HCLTECH.BO',
 'HDFC.BO',
 'HDFCBANK.BO',
 'HINDUNILVR.BO',
 'ICICIBANK.BO',
 'INDUSINDBK.BO',
 'INFY.BO',
 'ITC.BO',
 'KOTAKBANK.BO',
 'LT.BO',
 'M&M.BO',
 'MARUTI.BO',
 'NESTLEIND.BO',
 'NTPC.BO',
 'ONGC.BO',
 'POWERGRID.BO',
 'RELIANCE.BO',
 'SBIN.BO',
 'SUNPHARMA.BO',
 'TCS.BO',
 'TECHM.BO',
 'TITAN.BO',
 'ULTRACEMCO.BO']

In [66]:
def getdata(tickers):
    data=[]
    for ticker in tickers:
        data.append(yf.download(ticker).reset_index())
    return data

In [67]:
India = getdata(tickerSensex)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [68]:
India

[           Date         Open         High          Low        Close  \
 0    2000-01-03    23.437500    24.687500    23.437500    24.371876
 1    2000-01-04    23.750000    24.468750    23.375000    24.375000
 2    2000-01-05    24.062500    24.125000    23.456249    24.125000
 3    2000-01-06    24.000000    24.062500    23.565624    23.750000
 4    2000-01-07    23.437500    24.250000    23.437500    23.937500
 ...         ...          ...          ...          ...          ...
 5181 2021-10-08  3293.050049  3330.149902  3265.000000  3306.600098
 5182 2021-10-11  3348.000000  3348.000000  3297.500000  3304.300049
 5183 2021-10-12  3296.600098  3334.750000  3288.000000  3322.750000
 5184 2021-10-13  3349.850098  3357.050049  3292.000000  3321.750000
 5185 2021-10-14  3349.000000  3349.000000  3290.000000  3296.899902

         Adj Close     Volume
 0       17.756283   238128.0
 1       17.758558   222840.0
 2       17.576414   168648.0
 3       17.303207   127728.0
 4       17.439810  3416664.0
 ...           ...        ...
 5181  3306.600098    24215.0
 5182  3304.300049   424869.0
 5183  3322.750000    16068.0
 5184  3321.750000    30395.0
 5185  3296.899902    24999.0

 [5186 rows x 7 columns],
            Date        Open        High         Low       Close   Adj Close  \
 0    1998-11-27    3.550000    3.550000    2.710000    3.400000    2.260861
 1    1998-11-30    3.250000    3.300000    3.100000    3.210000    2.134519
 2    1998-12-01    3.290000    3.460000    3.220000    3.390000    2.254211
 3    1998-12-02    3.360000    3.440000    3.320000    3.390000    2.254211
 4    1998-12-03    3.440000    3.490000    3.370000    3.390000    2.254211
 ...         ...         ...         ...         ...         ...         ...
 5718 2021-10-08  781.000000  785.200012  776.150024  781.700012  781.700012
 5719 2021-10-11  783.000000  793.000000  779.299988  787.099976  787.099976
 5720 2021-10-12  790.799988  799.650024  785.700012  797.000000  797.000000
 5721 2021-10-13  797.000000  804.299988  793.000000  794.200012  794.200012
 5722 2021-10-14  796.349976  803.849976  788.000000  802.000000  802.000000

        Volume
 0       21000
 1      132000
 2      123500
 3       75500
 4      102000
 ...       ...
 5718   114773
 5719  2244795
 5720   125599
 5721   112530
 5722   154334

 [5723 rows x 7 columns],
            Date         Open         High          Low        Close  \
 0    2008-05-26   472.500000   472.500000   278.000000   302.250000
 1    2008-05-27   305.000000   321.000000   289.125000   296.049988
 2    2008-05-28   300.000000   309.500000   295.000000   303.149994
 3    2008-05-29   305.000000   309.750000   295.500000   299.799988
 4    2008-05-30   304.500000   304.500000   271.500000   287.225006
 ...         ...          ...          ...          ...          ...
 3288 2021-10-08  3828.550049  3878.399902  3806.100098  3814.750000
 3289 2021-10-11  3841.000000  3877.350098  3835.600098  3851.750000
 3290 2021-10-12  3859.000000  3993.600098  3855.000000  3978.149902
 3291 2021-10-13  3997.000000  4047.050049  3958.449951  3971.250000
 3292 2021-10-14  3953.000000  4009.649902  3953.000000  3965.149902

         Adj Close   Volume
 0      209.302841  4607686
 1      205.009445  2448098
 2      209.926041  1430798
 3      207.606232   595868
 4      198.898331   547992
 ...           ...      ...
 3288  3814.750000    13727
 3289  3851.750000    69562
 3290  3978.149902    31316
 3291  3971.250000    14918
 3292  3965.149902    22062

 [3293 rows x 7 columns],
            Date         Open         High          Low        Close  \
 0    2000-03-10     3.162128     3.302991     3.157270     3.302991
 1    2000-03-13     3.545858     3.545858     3.230131     3.302991
 2    2000-03-14     3.302991     3.395280     3.205844     3.298133
 3    2000-03-15     3.395280     3.560430     3.395280     3.400137
 4    2000-03-16     3.332135     3.643004     3.332135     3.570144
 ...         ...          ...          ...          ...          ...
 5086 2021-10-08  7757.000000  7829.649902  7714.000000  7736.000000
 5087 2021-10-11  7751.049805  7900.000000  7751.049805  7817.500000
 5088 2021-10-12  7817.500000  7923.600098  7748.049805  7857.000000
 5089 2021-10-13  7899.000000  8005.000000  7864.299805  7927.700195
 5090 2021-10-14  7989.950195  7989.950195  7813.000000  7860.700195

         Adj Close  Volume
 0        2.441583    8234
 1        2.441583   11323
 2        2.437992    5146
 3        2.513394   20587
 4        2.639063   40145
 ...           ...     ...
 5086  7736.000000   24131
 5087  7817.500000  310490
 5088  7857.000000   62261
 5089  7927.700195   52894
 5090  7860.700195   23121

 [5091 rows x 7 columns],
            Date          Open          High           Low         Close  \
 0    2000-01-03    335.065979    349.117126    335.065979    349.117126
 1    2000-01-04    355.700531    367.491730    350.787567    363.315674
 2    2000-01-05    357.665741    383.115021    342.926758    365.624786
 3    2000-01-06    369.456909    394.857086    369.456909    393.530579
 4    2000-01-07    391.074066    420.552032    388.126282    395.987061
 ...         ...           ...           ...           ...           ...
 5251 2021-10-08  17648.000000  17740.000000  17461.000000  17551.900391
 5252 2021-10-11  17600.000000  18025.000000  17598.199219  17710.800781
 5253 2021-10-12  17725.000000  18477.599609  17641.900391  18225.000000
 5254 2021-10-13  18369.000000  18571.099609  18145.000000  18186.449219
 5255 2021-10-14  18251.000000  18543.599609  18223.800781  18486.949219

          Adj Close   Volume
 0       342.420959   299003
 1       356.347107   398840
 2       358.611969   570629
 3       385.982513   806229
 4       388.391846  1148791
 ...            ...      ...
 5251  17551.900391     5879
 5252  17710.800781    53791
 5253  18225.000000    14648
 5254  18186.449219    17558
 5255  18486.949219     6734

 [5256 rows x 7 columns],
            Date        Open        High         Low       Close   Adj Close  \
 0    2002-02-20   18.268192   19.691093   18.245243   19.002592   17.976858
 1    2002-02-21   19.507492   19.943542   19.277992   19.484543   18.432793
 2    2002-02-22   19.255043   20.104193   19.163242   19.943542   18.867016
 3    2002-02-25   19.874693   19.966494   19.553392   19.576344   18.519638
 4    2002-02-26   19.736994   20.287792   19.622244   19.989443   18.910439
 ...         ...         ...         ...         ...         ...         ...
 4875 2021-10-08  696.799988  699.250000  689.000000  695.400024  695.400024
 4876 2021-10-11  695.000000  696.049988  685.200012  690.799988  690.799988
 4877 2021-10-12  691.299988  698.400024  684.500000  686.500000  686.500000
 4878 2021-10-13  690.200012  696.500000  684.000000  690.150024  690.150024
 4879 2021-10-14  690.150024  693.799988  682.000000  686.150024  686.150024

          Volume
 0     2351048.0
 1     1240948.0
 2      908019.0
 3      395880.0
 4      595730.0
 ...         ...
 4875   235018.0
 4876  2666344.0
 4877   145088.0
 4878   253836.0
 4879   222359.0

 [4880 rows x 7 columns],
            Date         Open         High          Low        Close  \
 0    1992-03-04    26.041666    26.041666    26.041666    26.041666
 1    1992-03-16    29.166666    29.166666    29.166666    29.166666
 2    1992-03-23    30.416666    30.416666    30.416666    30.416666
 3    1992-03-26    32.083332    32.083332    32.083332    32.083332
 4    1992-04-01    33.333332    33.333332    33.333332    33.333332
 ...         ...          ...          ...          ...          ...
 6423 2021-10-08  4919.950195  4944.950195  4821.000000  4849.100098
 6424 2021-10-11  4851.000000  4920.000000  4828.100098  4892.899902
 6425 2021-10-12  4904.500000  4950.950195  4857.450195  4907.950195
 6426 2021-10-13  4937.899902  4945.600098  4890.250000  4931.299805
 6427 2021-10-14  4934.000000  5007.000000  4922.299805  4959.700195

         Adj Close  Volume
 0       21.683310       0
 1       24.285303       0
 2       25.326103       0
 3       26.713831       0
 4       27.754633       0
 ...           ...     ...
 6423  4849.100098   29435
 6424  4892.899902  222726
 6425  4907.950195   25554
 6426  4931.299805   24314
 6427  4959.700195   28053

 [6428 rows x 7 columns],
            Date         Open         High          Low        Close  \
 0    2000-01-03    18.625000    18.865000    18.625000    18.865000
 1    2000-01-04    20.342501    20.373751    19.625000    20.373751
 2    2000-01-05    19.625000    20.299999    18.745001    19.000000
 3    2000-01-06    19.020000    19.549999    17.827499    18.825001
 4    2000-01-07    18.450001    18.450001    17.320000    17.320000
 ...         ...          ...          ...          ...          ...
 5434 2021-10-08  1305.000000  1338.000000  1294.500000  1322.050049
 5435 2021-10-11  1309.099976  1324.900024  1236.550049  1302.250000
 5436 2021-10-12  1310.000000  1310.000000  1236.949951  1249.699951
 5437 2021-10-13  1265.000000  1272.449951  1244.000000  1265.699951
 5438 2021-10-14  1288.000000  1293.000000  1244.349976  1250.900024

         Adj Close    Volume
 0       12.423412   2795480
 1       13.416986  35519120
 2       12.512311  42349440
 3       12.397067  25699240
 4       11.405960  10111600
 ...           ...       ...
 5434  1322.050049    189599
 5435  1302.250000   1176071
 5436  1249.699951    439442
 5437  1265.699951    148932
 5438  1250.900024    473122

 [5439 rows x 7 columns],
            Date         Open         High          Low        Close  \
 0    2000-01-03    30.000000    30.885000    29.305000    30.885000
 1    2000-01-04    32.299999    32.349998    29.400000    30.375000
 2    2000-01-05    29.900000    30.100000    28.000000    29.200001
 3    2000-01-06    29.500000    30.340000    29.200001    29.410000
 4    2000-01-07    29.200001    29.480000    27.930000    28.500000
 ...         ...          ...          ...          ...          ...
 5239 2021-10-08  2726.000000  2745.399902  2716.000000  2720.050049
 5240 2021-10-11  2740.000000  2768.750000  2727.050049  2749.000000
 5241 2021-10-12  2749.949951  2766.949951  2735.149902  2755.449951
 5242 2021-10-13  2783.000000  2783.000000  2748.100098  2764.649902
 5243 2021-10-14  2764.649902  2815.000000  2752.250000  2808.649902

         Adj Close     Volume
 0       21.014849  6243960.0
 1       20.667835  3547680.0
 2       19.868338  2522060.0
 3       20.011229  1994390.0
 4       19.392040  3132470.0
 ...           ...        ...
 5239  2720.050049    34349.0
 5240  2749.000000  1644935.0
 5241  2755.449951    44562.0
 5242  2764.649902    29539.0
 5243  2808.649902    31549.0

 [5244 rows x 7 columns],
            Date         Open         High          Low        Close  \
 0    1995-06-01     8.050000     8.050000     8.050000     8.050000
 1    1996-04-02     6.600000     7.000000     6.600000     6.950000
 2    1996-04-03     7.100000     7.800000     6.950000     6.950000
 3    1996-04-04     6.900000     6.950000     6.750000     6.900000
 4    1996-04-05     6.900000     6.900000     6.700000     6.850000
 ...         ...          ...          ...          ...          ...
 6277 2021-10-08  1612.000000  1621.949951  1600.000000  1602.199951
 6278 2021-10-11  1603.000000  1644.849976  1600.000000  1634.349976
 6279 2021-10-12  1628.000000  1641.000000  1625.000000  1629.300049
 6280 2021-10-13  1637.000000  1648.000000  1630.000000  1639.050049
 6281 2021-10-14  1642.449951  1690.000000  1639.050049  1685.900024

         Adj Close  Volume
 0        6.677534       0
 1        5.765076  350500
 2        5.765076  492500
 3        5.723601  310000
 4        5.682125  289000
 ...           ...     ...
 6277  1602.199951  188419
 6278  1634.349976  144074
 6279  1629.300049  141086
 6280  1639.050049   86572
 6281  1685.900024  304067

 [6282 rows x 7 columns],
            Date         Open         High          Low        Close  \
 0    1991-01-04    14.500000    14.500000    14.500000    14.500000
 1    1991-01-28    14.375000    14.375000    14.375000    14.375000
 2    1991-02-12    14.750000    14.750000    14.750000    14.750000
 3    1991-02-18    15.125000    15.125000    15.125000    15.125000
 4    1991-02-25    16.000000    16.000000    16.000000    16.000000
 ...         ...          ...          ...          ...          ...
 6662 2021-10-08  2672.100098  2675.399902  2624.500000  2640.300049
 6663 2021-10-11  2640.000000  2665.600098  2635.649902  2645.649902
 6664 2021-10-12  2639.000000  2687.500000  2630.000000  2675.000000
 6665 2021-10-13  2680.000000  2692.750000  2642.649902  2646.850098
 6666 2021-10-14  2663.899902  2676.550049  2620.899902  2648.800049

         Adj Close  Volume
 0        8.519073       0
 1        8.445632       0
 2        8.665952       0
 3        8.886271       0
 4        9.400353       0
 ...           ...     ...
 6662  2640.300049  239540
 6663  2645.649902  811271
 6664  2675.000000   45706
 6665  2646.850098   28981
 6666  2648.800049   64027

 [6667 rows x 7 columns],
            Date        Open        High         Low       Close   Adj Close  \
 0    2000-01-03   13.636363   13.736363   13.090909   13.736363    9.671225
 1    2000-01-04   14.445454   14.618181   13.145454   13.390909    9.428001
 2    2000-01-05   13.181818   13.454545   12.327272   12.600000    8.871154
 3    2000-01-06   12.727272   13.509090   12.545454   12.572727    8.851952
 4    2000-01-07   12.027272   12.727272   11.818181   12.000000    8.448718
 ...         ...         ...         ...         ...         ...         ...
 5227 2021-10-08  704.599976  709.900024  698.700012  702.849976  702.849976
 5228 2021-10-11  704.400024  719.650024  701.250000  713.099976  713.099976
 5229 2021-10-12  708.750000  712.900024  704.549988  708.700012  708.700012
 5230 2021-10-13  711.200012  715.950012  708.000000  709.799988  709.799988
 5231 2021-10-14  711.000000  729.500000  709.549988  727.099976  727.099976

        Volume
 0     2611840
 1     1544647
 2     2402119
 3     1404452
 4     2163958
 ...       ...
 5227   160134
 5228  4969633
 5229   194168
 5230   317603
 5231   213022

 [5232 rows x 7 columns],
            Date     Open         High          Low        Close    Adj Close  \
 0    2002-01-14    10.15    10.350000    10.150000    10.300000     7.597669
 1    2002-01-15    10.30    10.300000    10.200000    10.250000     7.560790
 2    2002-01-16    10.30    10.350000    10.200000    10.350000     7.634553
 3    2002-01-17    10.25    10.400000    10.150000    10.200000     7.523907
 4    2002-01-18    10.50    10.500000    10.050000    10.350000     7.634553
 ...         ...      ...          ...          ...          ...          ...
 4899 2021-10-08  1179.00  1180.000000  1158.000000  1172.750000  1172.750000
 4900 2021-10-11  1182.00  1194.000000  1170.449951  1172.949951  1172.949951
 4901 2021-10-12  1157.00  1195.949951  1157.000000  1182.349976  1182.349976
 4902 2021-10-13  1188.50  1192.000000  1175.300049  1183.800049  1183.800049
 4903 2021-10-14  1185.00  1215.000000  1162.500000  1209.900024  1209.900024

       Volume
 0       8600
 1       5360
 2       1190
 3       6165
 4       9861
 ...      ...
 4899   96226
 4900   75649
 4901   53025
 4902   71682
 4903   94173

 [4904 rows x 7 columns],
            Date         Open         High          Low        Close  \
 0    1995-05-11     0.927734     0.927734     0.927734     0.927734
 1    1995-05-19          NaN          NaN          NaN          NaN
 2    1995-06-01     0.976562     0.976562     0.976562     0.976562
 3    1995-11-22     0.976562     0.976562     0.976562     0.976562
 4    1995-11-23     0.976562     0.976562     0.976562     0.976562
 ...         ...          ...          ...          ...          ...
 6410 2021-10-08  1704.000000  1731.000000  1698.199951  1723.550049
 6411 2021-10-11  1688.949951  1730.300049  1663.949951  1692.000000
 6412 2021-10-12  1679.849976  1689.000000  1662.000000  1684.800049
 6413 2021-10-13  1693.550049  1713.500000  1681.250000  1708.750000
 6414 2021-10-14  1744.000000  1784.050049  1698.250000  1715.500000

         Adj Close     Volume
 0        0.638043        0.0
 1             NaN        NaN
 2        0.671624        0.0
 3        0.673646        0.0
 4        0.673646        0.0
 ...           ...        ...
 6410  1723.550049   343733.0
 6411  1692.000000  3384023.0
 6412  1684.800049   313775.0
 6413  1708.750000   130116.0
 6414  1715.500000   495333.0

 [6415 rows x 7 columns],
            Date        Open        High         Low       Close   Adj Close  \
 0    1991-01-04    1.180555    1.180555    1.180555    1.180555    0.746089
 1    1991-01-08    1.222222    1.222222    1.222222    1.222222    0.772422
 2    1991-01-15    1.208333    1.208333    1.208333    1.208333    0.763644
 3    1991-01-28    1.166666    1.166666    1.166666    1.166666    0.737311
 4    1991-02-12    1.177777    1.177777    1.177777    1.177777    0.744333
 ...         ...         ...         ...         ...         ...         ...
 6684 2021-10-08  234.449997  234.750000  231.199997  231.649994  231.649994
 6685 2021-10-11  232.500000  239.500000  231.699997  238.000000  238.000000
 6686 2021-10-12  239.000000  243.100006  238.149994  241.300003  241.300003
 6687 2021-10-13  242.550003  251.000000  240.149994  249.350006  249.350006
 6688 2021-10-14  252.600006  261.799988  250.300003  256.549988  256.549988

          Volume
 0           0.0
 1           0.0
 2           0.0
 3           0.0
 4           0.0
 ...         ...
 6684   835541.0
 6685  3476199.0
 6686  1219477.0
 6687  1956618.0
 6688  6004237.0

 [6689 rows x 7 columns],
            Date         Open         High          Low        Close  \
 0    1995-08-14          NaN          NaN          NaN          NaN
 1    1996-03-18     4.893939     4.893939     4.671487     4.671487
 2    1996-03-19     4.715978     4.760468     4.626997     4.671487
 3    1996-03-20     4.671487     4.671487     4.671487     4.671487
 4    1996-03-21     4.671487     4.715978     4.626997     4.626997
 ...         ...          ...          ...          ...          ...
 6406 2021-10-08  1943.000000  1966.199951  1931.000000  1935.699951
 6407 2021-10-11  1950.000000  2005.000000  1948.900024  1975.150024
 6408 2021-10-12  1970.099976  2003.000000  1965.000000  1994.150024
 6409 2021-10-13  2010.000000  2022.000000  1996.099976  2006.150024
 6410 2021-10-14  2015.000000  2025.000000  1985.500000  2016.099976

         Adj Close    Volume
 0             NaN       NaN
 1        3.394667  137108.0
 2        3.394667   65182.0
 3        3.394667       0.0
 4        3.362337   31467.0
 ...           ...       ...
 6406  1935.699951   53507.0
 6407  1975.150024  550743.0
 6408  1994.150024   29222.0
 6409  2006.150024   27921.0
 6410  2016.099976   22101.0

 [6411 rows x 7 columns],
            Date         Open         High          Low        Close  \
 0    1991-01-04    21.388887    21.388887    21.388887    21.388887
 1    1991-01-08    21.666666    21.666666    21.666666    21.666666
 2    1991-01-10    21.944445    21.944445    21.944445    21.944445
 3    1991-01-15    22.222221    22.222221    22.222221    22.222221
 4    1991-01-28    20.000000    20.000000    20.000000    20.000000
 ...         ...          ...          ...          ...          ...
 6654 2021-10-08  1740.000000  1740.000000  1720.099976  1727.300049
 6655 2021-10-11  1729.599976  1746.750000  1714.949951  1716.699951
 6656 2021-10-12  1714.000000  1725.000000  1700.000000  1717.900024
 6657 2021-10-13  1729.000000  1763.650024  1724.349976  1751.949951
 6658 2021-10-14  1766.199951  1817.949951  1766.199951  1789.099976

         Adj Close    Volume
 0       13.336302       0.0
 1       13.509501       0.0
 2       13.682700       0.0
 3       13.855900       0.0
 4       12.470307       0.0

In [69]:
len(India)

30

In [70]:
def createengine(name):
    engine=sqlalchemy.create_engine('sqlite:///'+name)
    return engine

In [71]:
indiaengine = createengine('India')
indiaengine

Engine(sqlite:///India)

In [72]:
def TOSQL(frames,symbols,engine):
    for frame,symbol in zip(frames,symbols):
        frame.to_sql(symbol,engine,index=False)
        
    print("success in importing")

In [73]:
TOSQL(India,tickerSensex,indiaengine)

success in importing

In [75]:
pd.read_sql('INFY.BO',indiaengine)

,Date,Open,High,Low,Close,Adj Close,Volume
0,1995-05-11,0.927734,0.927734,0.927734,0.927734,0.638043,0.0
1,1995-05-19,NaN,NaN,NaN,NaN,NaN,NaN
2,1995-06-01,0.976562,0.976562,0.976562,0.976562,0.671624,0.0
3,1995-11-22,0.976562,0.976562,0.976562,0.976562,0.673646,0.0
4,1995-11-23,0.976562,0.976562,0.976562,0.976562,0.673646,0.0
...,...,...,...,...,...,...,...
6410,2021-10-08,1704.000000,1731.000000,1698.199951,1723.550049,1723.550049,343733.0
6411,2021-10-11,1688.949951,1730.300049,1663.949951,1692.000000,1692.000000,3384023.0
6412,2021-10-12,1679.849976,1689.000000,1662.000000,1684.800049,1684.800049,313775.0
6413,2021-10-13,1693.550049,1713.500000,1681.250000,1708.750000,1708.750000,130116.0
6414,2021-10-14,1744.000000,1784.050049,1698.250000,1715.500000,1715.500000,495333.0